html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    background-color: black;
    color: white;
    font-family: 'Inter';
    margin: 0;
}

h1 {
    text-align: center;
    font-weight: 900;
    font-size: clamp(28px, 8vw, 70px);
    position: absolute;
    z-index: 10;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    margin: 0;
}


h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.h-wrapper p {
    font-size: clamp(5px, 2vw, 10px);
    color: rgb(75, 75, 75);
    position: absolute;
    z-index: 10;
    top: 15px;
    left: 15px;
    right: 0;
    margin: 0;
    width: fit-content;
}

.a-wrapper {
    font-size: clamp(10px, 2vw, 15px);
    text-decoration: none;
}

.h-wrapper .right {
    text-align: right;
    left: auto;
    right: 15px;
}

img {
    width: 100%;
    height: auto;
}

details {
    margin-top: 5px;
    margin-bottom: 5px;
    width: fit-content;
}

.dropdown-hover {
    cursor: pointer;
}

summary {
    font-weight: 600;
    font-size: 25px;
    color: #994cde;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.beach-closure {
    color: #d73cbd;
}

.beach-closure:hover {
    color: #f063d8;
}

summary:hover {
    color: #b974f5;
    transition: 0.1s;
}

.ship-hover:hover {
    color: #eba652;
    transition: 0.1s;
}

.booster-hover:hover {
    color: #3e98f2;
    transition: 0.1s;
}

pre {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-left: 1em;
}

b {
    font-weight: 600;
}

.h-wrapper {
    position: relative;
    margin: 0;
    padding: 0;
}

.h-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    pointer-events: none;
    z-index: 1;
}

.headerimg {
    display: block;
}

.firstdiv {
    margin-top: 20px;
}

div {
    margin-top: 40px;
    padding: 0 20px;
}

div h3 {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 0;
}

.f-button {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
    padding: 5px;
    border-radius: 15px;
    background-color: black;
    border: 2px white solid;
    color: white;
    scale: 1;
    transition: 0.2s;
}

.f-button:hover {
    color: black;
    background-color: white;
    scale: 1.1;
    cursor: pointer;
}

.footer {
    text-align: center;
}

.booster {
    color: #1b82e8;
}

.ship {
    color: #e49330;
}

.launch {
    color: #994cde;
}

.source {
    color: rgb(75, 75, 75);
    font-size: 10px;
    margin: 0;
}

a {
    color: lightgray;
    text-decoration-color: lightgray;
    text-decoration-thickness: 1px;
}

.a-source {
    color: rgb(75, 75, 75);
    text-decoration-color: rgb(75, 75, 75);
}

.a-none {
    color: auto;
    text-decoration-color: auto;
}

.complete {
    color: lightgreen;
}

.in-progress {
    color: rgb(249, 170, 91);
}

.incomplete {
    color: lightcoral
}

.uncertain {
    color: rgb(235, 188, 18);
    font-style: italic;
}

.retired {
    color: rgb(155, 155, 155);
}

.booster-s {
    color: rgb(54, 184, 228);
}

.ship-s {
    color: rgb(237, 162, 101);
}

.booster-launch-p {
    font-weight: 500;
    color: rgb(192, 233, 248);
}

.ship-launch-p {
    font-weight: 500;
    color: rgb(248, 214, 192)
}

.expand {
    scale: 1;
    transition: 0.3s;
}

.expand:hover {
    cursor: pointer;
    scale: 1.1;
}

.a-expand {
    color: lightgray;
    transition: 0.3s;
}

.a-expand:hover {
    color: white;
}